#cards {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}

#card {
    display: inline-block;
    border: 1px solid orange;
    width: 400px;
    flex: 0 0 calc(33.333333% - 42px);
    margin: 0px 20px 40px 20px;
    border-radius: 10px;
}

#card-image {
    width: 100%;
    border-radius: 9px 9px 0px 0px;
    border-bottom: 1px solid orange;
}

#card-headding {
    margin: 0 1.25rem 0rem 1.25rem;
}

#card-subheadding {
    margin: 0 1.25rem 0rem 1.25rem;
    font-size: 1rem;
}

#learn-more {
    color: #ff5c7b;
    text-decoration: none;
    font-size: 1rem;
    text-align: right;
    width: 100%;
    display: block;
    margin-left: -10px;
    margin: 20px 0px 10px -10px;
}