#header {
    width: 100%;
    height: max-content;
    background-color: black;
}

#wave {
    fill: black;
    display: inline-block;
    position: absolute;
    top: calc(15vh + 125px);
    left: 0;
    z-index: -1;
}

