#header {
    width: 100%;
    height: calc(15vh + 125px);
    position: fixed;
    top: 0;
    background-color: #0f0f0f;
    z-index: 2;
}

#wave {
    fill: #0f0f0f;
    display: inline-block;
    position: absolute;
    top: calc(15vh + 125px);
    left: 0;
    pointer-events: none
}

#about {
    margin-top: calc(15vh + 125px);
    padding-top: 100px;
    background-color: #f2f2f2;
}

