html {
    scroll-behavior: smooth;
}

body {
    font-family: 'helvetica', sans-serif, system-ui;
    font-weight: lighter;
    position: relative;
    text-align: center;
    margin: 0px;
}

/* General */
#home {
    color: #ffffff !important;
}

h1 {
    color: #ff5c7b;
    font-family: "Montserrat",sans-serif;
    font-weight: lighter;
    margin: 0px 30px 5px 30px;
    font-size: 5rem;
    padding-top: 65px;
}

p {
    color: #000000;
    padding: 10px;
    font-size: 1.75rem;
    margin: 0 1.25rem 5rem 1.25rem;
}

a {
    color: #ffffff;
    font-size: 1.75rem;
    margin: 0 1.25rem 5rem 1.25rem;
}

#left {
    width: 50%;
    text-align: left;
    margin-bottom: 100px;
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    #navbar {
        text-align: left !important;
        display: block !important;
        position: static !important;
    }
    #card {
        width: 300px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    h1 {
        font-size: 3rem !important;
    }
    #left {
        width: 100% !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    a {
        font-size: 100% !important;
    }
    #navbar-item {
        width: 20vw !important;
    }
    #card {
        width: 300px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    h1 {
        font-size: 3rem !important;
    }
    #left {
        width: 100% !important;
    }
}

/* Color Scheme */
@media (prefers-color-scheme: dark) {
    h1 {
        color: #6a169e !important;
    }
    html {
        background-color: #000000 !important;
    }
    p {
        color: #ffffff !important;
    }
    .wave-container > svg {
        fill: #000000 !important;
    }
}

/* Animations */
@keyframes fadeToSolid {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}