html {
    scroll-behavior: smooth;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }

    #navbar {
        overflow-x: scroll;
    }
  }

body {
    font-family: 'helvetica', sans-serif, system-ui;
    font-weight: lighter;
    position: relative;
    color: #fff;
    text-align: center;
    color: #ff5c7b;
    margin: 0px;
}

h1 {
    font-family: "Montserrat",sans-serif;
    font-weight: lighter;
    margin: 0px 30px 5px 30px;
    font-size: 5rem;
    padding-top: 65px;
}

p {
    color: #000000;
    padding: 10px;
    font-size: 1.75rem;
    margin: 0 1.25rem 5rem 1.25rem;
}

a {
    color: #ffffff;
    font-size: 1.75rem;
    margin: 0 1.25rem 5rem 1.25rem;
}

#left {
    width: 50%;
    text-align: left;
    margin-bottom: 100px;
}
