body {
    margin: 0px;
    font-weight: lighter;
    background-color: #2e2e2e;
}

h1 {
    margin: 0px;
    color: white;
    text-align: center;
    font-family: helvetica;
    font-weight: lighter;
    padding-top: 15vh;
    font-size: xxx-large;
}

h5 {
    margin: 0px;
    color: white;
    text-align: center;
    font-family: helvetica;
    font-weight: lighter;
    padding-bottom: 25px
}