#navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    color: white;
    background-color: #09fd;
    z-index: 1;
    width: 100%;
}

#navbar-item {
    padding: 15px;
    cursor: pointer;
}

#navbar-item-title {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 0px;
}

#navbar-item-title:hover::after {
    width: 100%;
}

#navbar-item-title:after {
    position: absolute;
    background-color: #ffffff;
    content: "";
    transition: all .20s ease-in-out;
    z-index: 2;
    bottom: 0px;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    height: 3px;
}
